<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="msapplication-tap-highlight" content="no"/>
	<meta name="viewport"
		  content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"/>
	<meta http-equiv="Content-Security-Policy"
		  content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *"/>
	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	<title>FUNDZFORUS</title>
</head>
<body>
<div class="app-sign">
	<img src="/img/logo.png">
</div>
<div class="sign-in">
	<form method="get" action="/login">
		<button class="btn btn-pry-h">Login</button>
	</form>
	<form method="get" action="/registration">
		<button class="btn btn-sec">Sign up</button>
	</form>
	<p>or</p>
	<div class="sign-up-container">
		<label style="flex-grow: 8">Sign up using</label>
		<form method="post" action="/signin/facebook">
			<input type="hidden" name="name" value="value" />
			<a onclick="this.parentNode.submit();"><img src="/img/fb.png"></a>
		</form>
		<a href="/oauth2/authorization/google"><img src="/img/google.png"></a>
	</div>
</div>
</body>
</html>