<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <title>FUNDZFORUS</title>
</head>
<body>
	<div class="sign-container part-left">
	<i class="fa fa-chevron-left fa-lg part-left" aria-hidden="true" onclick="location.href='/home'"></i>
	<h1>Privacy Statement</h1>

<h4>
The fundzforus.org is committed to respecting the dignity and privacy of people, while balancing such rights with the funds values of transparency and accountability and the ability of the fundzforus.org to carry out its mission. </h4>


<h2>Privacy Principles	</h2>


Principles for the processing of personal data relate to:

Fair and legitimate processing

<h4>
Personal data should be processed in a fair and transparent manner and only if there is a legitimate basis for doing so. Legitimate bases include:
<br>•	In the vital or best interest of the Data Subject or another person
<br>•	To ensure the safety and/or security of individuals
<br>•	The public interest
<br>•	To enable the Fundzforus.org to carry out its mandate under its Framework Document and Board-approved Strategy (legitimate interest)
<br>•	Performance of a contract
<br>•	Compliance with a legal obligation
<br>•	Defense of legal claims
</h4>

Limitation to a purpose

<h4>
Personal data may be processed only for one or more specific and legitimate purposes and may not be further processed in a manner incompatible with such purpose(s). The Fundzforus.org may process personal data for purposes other than those specified at the time of collection if such further processing is compatible with those original purposes 
and, in particular, where the processing is necessary for historical, statistical or scientific purposes, or accountability of humanitarian action. However, further processing is  not permissible if the risks for the data subject outweigh the benefits of further processing.
</h4> 

Data minimization

<h4>
The processing of personal data should be necessary and proportionate to the purpose(s) for which it is being processed. Therefore, personal data that is being collected and processed should be adequate and relevant to the identified purpose and should not exceed that purpose.
Accuracy Personal data should be recorded as accurately as possible and, where necessary, updated to ensure it fulfils the purpose(s) for which it is processed. Data subjects should be made aware of the importance of providing accurate and complete information, including updating such information as applicable. Every reasonable precaution and effort must be taken to ensure that inaccurate personal data are corrected or deleted without undue delay (taking into account the purpose(s) for which they are processed, as well as the principles of data minimization and storage limitation).
</h4> 

Storage limitation

<h4> 
Personal data must be kept in a form which permits identification of data subjects for no longer than is necessary for the purpose(s) for which the personal data are processed. Personal data may be stored for longer periods insofar as the personal data will be processed solely for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes. This principle should be read together with the relevant Fundzforus.org rules and regulations.
Maintaining security and confidentiality
Personal data must be processed in a manner that ensures appropriate security of the personal data, including protection against unauthorized or unlawful processing and against accidental loss, destruction or damage, using appropriate technical or organizational measures. All personal data must be processed, handled, filed and stored in accordance with the Fundzforus.org rules and regulations in order to ensure and respect confidentiality.
Transfers to legal authorities
In appropriate circumstances, the Fundzforus.org may transfer Personal Data to a national law enforcement agency, a national court or another legitimate legal authority. Such Data Transfers may be upon request of the legal authority (which may be binding or non-binding on the Fundzforus.org) or on the Fundzforus.org own initiative.
</h4> 
When does this privacy statement apply?
<br><br>
Our website

<h4> 

This privacy statement explains how we collect and use your information as a result of your visit to sites within the domain name “www.fundzforus.org”. It also explains the choices and rights available to you. The Fundzforus.org website is not directed at minors and we do not knowingly collect or retain any personal information regarding any minor. If you become aware of any personal data of a minor provided to us via our website, please contact info@fundzforus.org so that we may take steps to delete such data.
We reserve the right to modify this privacy statement at any time and encourage you to stay informed by reviewing updates posted here.
External links and third parties
This privacy statement does not apply to processing by third parties, including through sites linked to or accessible from ours. These external sites or third-party services are not related to the Fundzforus.org or under our control. The Fundzforus.org is not responsible for the privacy or security of personal data which may be collected or processed via external sites or third parties. The appearance of external links and the processing by third parties does not represent the Fundzforus.org endorsement of, or affiliation with, them. We encourage you to be aware when you leave our site or use a third party service, and to read the privacy statements they make available.

</h4> 

What information does the Fundzforus.org collect and how do we use it?

<h4>
In general, you can browse the Fundzforus.org site without telling us who you are or revealing information that could identify yourself (personally identifiable information).
Data you provide about yourself
If you use the “Contact Us” feature on our site or send us an e-mail, or choose to subscribe to newsletters or vacancy alerts, we will ask for your name and email address. Where relevant, we will also ask for your newsletter format preference and newsletter language preference. We collect and use this personal data only to the extent necessary to respond to your request and/or send you newsletters or vacancy alerts. Newsletters and vacancy alerts inform you of Fundzforus.org activities and employment opportunities, respectively. We do not use them for direct marketing of goods or services to subscribers.
Data collected by analytics and similar technologies
</br>

<br>
When you browse our website certain anonymous information is collected by a web analytics service provided by Google, Inc. ("Google") to help analyze the use of the website. The information generated by the cookies about the use of the website - standard internet log information (including your IP address) and visitor behavior information in an anonymous form - is transmitted to and stored by Google. We anonymize your IP address before sending it to Google. We encourage you to read and stay informed regarding their privacy policy (please see “External links and third parties”).
Many browsers can be set to inform you when a cookie has been sent to you and provide you with the opportunity to refuse that cookie. However, refusing a cookie may in some cases preclude you from using, or negatively affect the display or function of, the website or certain areas or features of the website. To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, please see fundzforus.org website.
Are you required to provide information?
You are not obliged to provide your information. You can still browse the Fundzforus.org website without seeking to communicate with us, but we will not be able to reply to your request or send newsletters or vacancy alerts to you if you do not provide an e-mail address. If you do not provide your format and language preferences, you may still receive our newsletter although it will not be tailored to your preferences.
You may request at any time that your information be deleted if you no longer wish to receive communications, by emailing info@fundzforus.org you may also request that we update your information.
</h4> </br>

How does the Fundzforus.org protect information you provide to us?

<h4>
We endeavor to protect the security and integrity of the information you provide us by implementing technical safeguards designed to protect against loss, misuse, unauthorized access or disclosure, alteration or destruction. However, due to the open and global nature of the internet, these safeguards are not a guarantee. The Fundzforus.org assumes no responsibility for guaranteeing the security of information.
How long does the Fundzforus.org keep information you provide to us?
We will store your personal data in United States, depending on the service in question, until it is no longer needed to fulfill the purpose(s) for which it was collected. After such time, we will either delete or anonymize your personal data or, if this is not possible, we will securely store your personal data and isolate it from any further use until deletion is possible.
</h4>
Whom should you contact if you have questions about your information?

<h4>
Please contact info@fundzforus.org if you wish to update or delete your personal data. For your protection, we will only implement legitimate requests with respect to the personal data associated with the particular email address that you use to send us your request, and we may need to verify your identity before implementing your request. Verification may require that we ask you to provide other personal data. If we are unable to verify your request, we may not be able to implement it for security reasons.
We will endeavor to respond to your request as soon as reasonably practicable. In some cases, we may need to retain certain information where important public interests require, such as the safety and security of individuals; the rights and freedoms of others; the integrity of audit, investigation, arbitral or judicial processes; and/or recordkeeping or legal purposes.

</h4>

Privileges and immunities

<h4>

Nothing in or related to this privacy statement may be construed as a waiver, express or implied, of the privileges and immunities accorded to the Fundzforus.org under international law, including international customary law, any international conventions, treaties or agreements, or any national laws.

</h4>

Phishing & Scam Alert
<h4>
COVID-19: be aware of increased phishing scams and criminals pretending to be trusted partners/organizations.
Like many organizations around the world, the Fundzforus.org phishing scams and other fraudulent requests that are sent by email, phone calls, texts/WhatsApp messages or other channels of communication. Awareness and diligence can help you evaluate whether a message is authentic or a potential scam.
Be aware
Although seemingly legitimate, these fraudulent requests sent to our partners have no connection at all with the Fundzforus.org. They are typically unsolicited, are meant to look authentic, may include the official Fundzforus.org logo and signatures, and might even appear as originating from an authentic Fundzforus.org email address.
</h4>
How can I tell if a message is trying to phish me?

<h4>
The messages usually:
<br>•	Looks identical to messages from a reputable organization (such as a medical or governmental institution)
<br>•	Sounds urgent
<br>•	Claims to enclose important or breaking news
<br>•	Asks you to click attachments and links
When reviewing emails, know that Fundzforus.org will never:
<br>•	Request you provide your username or password via email, telephone, or any other means of communication
<br>•	Request payments or updating of payment details using email, telephone or other channels
<br>•	Ask you to install software or request access to your computer, telephone or other devices
<br>•	Offer to organize or host events and ask you to submit payments for such services
<br>•	Charge money for recruitment purposes or make offers of employment against fees or other payment methods
<br>•	Give prizes or free goods and services
Stay safe
You should always exercise caution by:
<br>•	Never downloading and opening attachments from suspicious emails
<br>•	Never clicking on links from suspicious emails
<br>•	Never entering your usernames and passwords into websites or popups you are not familiar with
Also make sure to:
<br>•	Verify any suspicious communication with your contacts at the Fundzforus.org
<br>•	Activate multifactor authentication wherever possible on all your email accounts. Popular options include Google Authenticator and Microsoft Authenticator
<br>•	Ensure computer antivirus and security patches are kept up to date
<br>•	Report any suspicious or fraudulent email, invoice or recordings via the Contact Us page

</h4>

Cookies on the Fundzforus.org Website

<h4>
The Fundzforus.org uses cookies to enhance and guarantee the operation of the website.
What are cookies?
Cookies are small text files stored on your device when you visit a website. Cookies will store certain preferences that help with the operation of the website. The Fundzforus.org website only stores cookies required for proper functioning of the website and collecting anonymized statistics on website use.
</h4>


Cookies used for improved browsing

<h4>
cookie_notice
Used by the Fundzforus.org website to avoid constantly showing the cookie message to users that have already seen it. Does not include any personal data and not used for monitoring or tracking.
explainTooltip
Used by the Data Explorer to make sure the instructional popups are not visible after the first visit. Does not include any personal data and not used for monitoring or tracking.
</h4>
	
	
	
	
	
	
	
	
<!--	
	<div class="add-img">
	<div><i class="fa fa-plus fa-2x plus" aria-hidden="true"></i><br>Add Image</div>
	<div class="add-logo"><i class="fa fa-times-circle fa-2x close-img" aria-hidden="true"></i></div>
	</div>

	
<br>

</div>
	
	<div class="become-part">
	<div>
	<button class="btn-com btn-pry btn-gap-2" onclick="location.href='thankyou-partner.html'">SUBMIT</button>
	</div>
	</div>
-->	
	</body>
</html>