<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <title>FUNDZFORUS</title>
</head>
<body>
	<div class="sign-container part-left">
	<i class="fa fa-chevron-left fa-lg part-left" aria-hidden="true" onclick="location.href='/home'"></i>
	<h1>Terms and Conditions</h1>

<h4>
Please read all the Terms and Conditions carefully as our motto is to make you aware of all your legal rights and liabilities in using our application and services related to it 
Standard data rates may apply for downloading and using the app. Please contact your telecom operator for applicable rates.
<br><br>
“You” and “Your” refers to the user who uses our application for posting, browsing and transmitting text, content, material, audio and video. “We”, “our”, ”service”, “services” refers to Fundzforus.org (here in after referred as Fundzforus.org) website and its related services.
<br><br>
You here by agree that you are the owner of the device and you shall be responsible for maintaining telephone numbers, OTP, necessary hardware and other equipment for using our services and content.
<br><br>
Users should be above the age of 18 and to be eligible as per the rules laid down by business. These rules may subject to change time to time.
Neither Fundzforus.org nor its employees does not hold any responsibility for the interruption, dismiss or damage caused to you because of the content of the web site.
<br><br>
You are not allowed to post or upload any kind of illegal content, material, text, images, audio and video that does not have copyrights and Fundzforus.org is not responsible for such actions.
<br><br>
We have all the privileges to discontinue and interrupt the services and close your account (includes the benefits that you draw from our service) and all the Terms and Conditions may subjected to change at any point of time without prior notice.
<br><br>
You agree that you are not supposed to trade, promote or post any illegal content, material, text, audio or video that is non-compliant with the local laws.
This product is owned by Fundzforus.org and we have the right of ownership of all the intellectual property exclusively related to our service or application. None has the right to use the code that developed the app and use it for reproducing similar application.
You are restricted from using Fundzforus.org services in any way that is or may be damaging to this Fundzforus.org.
You are restricted from using Fundzforus.org services in any way that impacts user access to this Fundzforus.org.
You are restricted from using Fundzforus.org services contrary to applicable laws and regulations, or in any way may cause harm to the Fundzforus.org, or to any person or business entity.
<br><br>
You are restricted from engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Fundzforus.org.
We do not hold any responsibility for any content uploaded to the application and also to the way the user obtains results from it.
<br><br>
We strictly hold no responsibility for the data from third parties as we do not have control on the information posted by your services. However we constantly try to clean our data by performing regular audits. Third party users are those who are registered with the Fundzforus.org application and post their business data on the app.
<br><br>
Fundzforus.org undertake no responsibility, and shall not be liable for, any damages to, or viruses that may infect your equipment or other property on account of your access to, use of, or browsing in the Fundzforus.org Service or you downloading of any material, data, text, images, video, or audio from the Service.
<br><br>
Certain areas of this Fundzforus.org services are restricted from being access by you and Fundzforus.org may further restrict access by you to any areas of this services, at any time, in absolute discretion. Any user ID and password you may have for this Website and/or App are confidential and you must maintain confidentiality as well.
Though we strive to maintain the confidentiality of your data, we still do not hold any responsibility for breach of data stored on our application.
You hereby agree that we have right to text, call or send an email for any business or promotional purposes. In this context, we do not hold responsibility for the communication between the users of Fundzforus.org.
<br><br>
Calling and texting features on our application may include rates/charges as per your telecom operator and we does not hold any responsibility for sharing the data on social media platforms (which includes spam text, images, material, audio or video content)
<br><br>
We Store the personal information of various users on the application. You does not have right to modify or delete such information except your own data.
You agree to grant us the rights for reproducing, publishing, distributing, sharing and copying your information through our app and its partners.
<br>The Fundzforus.org is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms and Conditions without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms and Conditions.
<br>
For any objections/disputes/queries, please notify us in writing at info@fundzforus.org.com

<br><br>

You agree that you agree to receive all kinds of communication from businesses listed on Fundzforus.org. Hereby, you agree that you information will be shared to them.
Fundzforus.org is permitted to revise these Terms and Conditions at any time as it sees fit, and by using the services of Fundzforus.org, you are expected to review these Terms and Conditions on a regular basis.
<br><br>
If any provision of these Terms and Conditions is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.
You are responsible for all the damages caused to Fundzforus.org because of the breach of mentioned Terms and Conditions by you in all the cases.
Your violation to any of these Terms and Conditions can result in taking legal action against you with respect to the local laws and all disputes are under the jurisdiction of courts of USA.

</h4>
	
	
	
	
	
	
	
	
<!--	
	<div class="add-img">
	<div><i class="fa fa-plus fa-2x plus" aria-hidden="true"></i><br>Add Image</div>
	<div class="add-logo"><i class="fa fa-times-circle fa-2x close-img" aria-hidden="true"></i></div>
	</div>

	
<br>

</div>
	
	<div class="become-part">
	<div>
	<button class="btn-com btn-pry btn-gap-2" onclick="location.href='thankyou-partner.html'">SUBMIT</button>
	</div>
	</div>
-->	
	</body>
</html>