<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fundzforus.server.dao.mybatis.PartnerVideoMapper" >
    <resultMap id="partnerVideoResultMap" type="com.fundzforus.server.domain.PartnerVideo" >
        <id column="VIDEO_ID" property="id" jdbcType="INTEGER" />
        <result property="videoName" column="VIDEO_NAME" jdbcType="VARCHAR" />
        <result property="videoDescription" column="VIDEO_DESCRIPTION" jdbcType="VARCHAR" />
        <result property="videoURL" column="VIDEO_URL" jdbcType="VARCHAR" />
        <result property="partnerId" column="PARTNER_ID" jdbcType="VARCHAR" />
        <result property="createDateTime" column="CREATE_DATETIME" jdbcType="TIMESTAMP" />
        <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
        <result property="updateDateTime" column="UPDATE_DATETIME" jdbcType="TIMESTAMP" />
        <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAllPartnerVideos" resultMap="partnerVideoResultMap">
        SELECT
            VIDEO_ID,
            VIDEO_NAME,
            VIDEO_DESCRIPTION,
            VIDEO_URL,
            PARTNER_ID,
            CREATE_DATETIME,
            CREATED_BY,
            UPDATE_DATETIME,
            UPDATED_BY
        FROM TBL_PARTNER_VIDEO
    </select>

    <select id="findPartnerVideosByPartnerId" resultMap="partnerVideoResultMap" parameterType="java.util.Map">
        SELECT
            VIDEO_ID,
            VIDEO_NAME,
            VIDEO_DESCRIPTION,
            VIDEO_URL,
            PARTNER_ID,
            CREATE_DATETIME,
            CREATED_BY,
            UPDATE_DATETIME,
            UPDATED_BY
        FROM TBL_PARTNER_VIDEO
        WHERE
            PARTNER_ID = #{partnerId, jdbcType=VARCHAR}
    </select>

    <select id = "getPartnerVideoById" parameterType="java.util.Map" resultMap = "partnerVideoResultMap">
      SELECT
            VIDEO_ID,
            VIDEO_NAME,
            VIDEO_DESCRIPTION,
            VIDEO_URL,
            PARTNER_ID,
            CREATE_DATETIME,
            CREATED_BY,
            UPDATE_DATETIME,
            UPDATED_BY
        FROM TBL_PARTNER_VIDEO
        WHERE VIDEO_ID = #{id}
   </select>

    <update id = "updatePartnerVideo" parameterType = "com.fundzforus.server.domain.PartnerVideo">
      UPDATE TBL_PARTNER_VIDEO SET
            VIDEO_NAME = #{videoName, jdbcType=VARCHAR},
            VIDEO_DESCRIPTION = #{videoDescription, jdbcType=VARCHAR},
            VIDEO_URL = #{videoURL, jdbcType=VARCHAR},
            PARTNER_ID = #{partnerId, jdbcType=VARCHAR},
            UPDATE_DATETIME = CURRENT_TIMESTAMP(),
            UPDATED_BY = #{updatedBy, jdbcType=VARCHAR}
      WHERE VIDEO_ID = #{id, jdbcType=VARCHAR}
   </update>

    <insert id="insertPartnerVideo" parameterType="com.fundzforus.server.domain.PartnerVideo">
        INSERT INTO TBL_PARTNER_VIDEO (
            VIDEO_NAME,
            VIDEO_DESCRIPTION,
            VIDEO_URL,
            PARTNER_ID,
            CREATE_DATETIME,
            CREATED_BY,
            UPDATE_DATETIME,
            UPDATED_BY)
        VALUES(
            #{videoName, jdbcType=VARCHAR},
            #{videoDescription, jdbcType=VARCHAR},
            #{videoURL, jdbcType=VARCHAR},
            #{partnerId, jdbcType=VARCHAR},
            CURRENT_TIMESTAMP(),
            #{createdBy, jdbcType=VARCHAR},
            CURRENT_TIMESTAMP(),
            #{updatedBy, jdbcType=VARCHAR}
        )
    </insert>

    <delete id = "deletePartnerVideoById" parameterType = "java.util.Map">
        DELETE FROM TBL_PARTNER_VIDEO WHERE VIDEO_ID = #{id}
    </delete>
</mapper>