<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fundzforus.server.dao.mybatis.UserVideoMapper" >
    <resultMap id="userVideoResultMap" type="com.fundzforus.server.domain.UserVideo" >
        <id column="VIDEO_ID" property="id" jdbcType="INTEGER" />
        <result property="videoName" column="VIDEO_NAME" jdbcType="VARCHAR" />
        <result property="videoDescription" column="VIDEO_DESCRIPTION" jdbcType="VARCHAR" />
        <result property="videoURL" column="VIDEO_URL" jdbcType="VARCHAR" />
        <result property="tenantId" column="TENANT_ID" jdbcType="VARCHAR" />
        <result property="createDateTime" column="CREATE_DATETIME" jdbcType="TIMESTAMP" />
        <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
        <result property="updateDateTime" column="UPDATE_DATETIME" jdbcType="TIMESTAMP" />
        <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAllUserVideosByTenantId" resultMap="userVideoResultMap">
        SELECT
            VIDEO_ID,
            VIDEO_NAME,
            VIDEO_DESCRIPTION,
            VIDEO_URL,
            TENANT_ID,
            CREATE_DATETIME,
            CREATED_BY,
            UPDATE_DATETIME,
            UPDATED_BY
        FROM
            TBL_USER_VIDEO
        WHERE
            TENANT_ID = #{tenantId, jdbcType=VARCHAR}
    </select>

    <select id = "getUserVideoById" parameterType="java.util.Map" resultMap = "userVideoResultMap">
      SELECT
            VIDEO_ID,
            VIDEO_NAME,
            VIDEO_DESCRIPTION,
            VIDEO_URL,
            TENANT_ID,
            CREATE_DATETIME,
            CREATED_BY,
            UPDATE_DATETIME,
            UPDATED_BY
        FROM
            TBL_USER_VIDEO
        WHERE
            VIDEO_ID = #{id}
   </select>

    <select id = "findUserVideoByNameAndTenantId" parameterType="java.util.Map" resultMap = "userVideoResultMap">
      SELECT
            VIDEO_ID,
            VIDEO_NAME,
            VIDEO_DESCRIPTION,
            VIDEO_URL,
            TENANT_ID,
            CREATE_DATETIME,
            CREATED_BY,
            UPDATE_DATETIME,
            UPDATED_BY
        FROM TBL_USER_VIDEO
        WHERE
            VIDEO_NAME = #{videoName}
            AND TENANT_ID = #{tenantId, jdbcType=VARCHAR}
   </select>

    <update id = "updateUserVideo" parameterType = "com.fundzforus.server.domain.UserVideo">
      UPDATE TBL_USER_VIDEO SET
            VIDEO_NAME = #{videoName, jdbcType=VARCHAR},
            VIDEO_DESCRIPTION = #{videoDescription, jdbcType=VARCHAR},
            VIDEO_URL = #{videoURL, jdbcType=VARCHAR},
            TENANT_ID = #{tenantId, jdbcType=VARCHAR},
            UPDATE_DATETIME = CURRENT_TIMESTAMP(),
            UPDATED_BY = #{updatedBy, jdbcType=VARCHAR}
      WHERE VIDEO_ID = #{id, jdbcType=VARCHAR}
   </update>

    <insert id="insertUserVideo" parameterType="com.fundzforus.server.domain.UserVideo">
        INSERT INTO TBL_USER_VIDEO (
            VIDEO_NAME,
            VIDEO_DESCRIPTION,
            VIDEO_URL,
            TENANT_ID,
            CREATE_DATETIME,
            CREATED_BY,
            UPDATE_DATETIME,
            UPDATED_BY)
        VALUES(
            #{videoName, jdbcType=VARCHAR},
            #{videoDescription, jdbcType=VARCHAR},
            #{videoURL, jdbcType=VARCHAR},
            #{tenantId, jdbcType=VARCHAR},
            CURRENT_TIMESTAMP(),
            #{createdBy, jdbcType=VARCHAR},
            CURRENT_TIMESTAMP(),
            #{updatedBy, jdbcType=VARCHAR}
        )
    </insert>

    <delete id = "deleteUserVideoById" parameterType = "java.util.Map">
        DELETE FROM TBL_USER_VIDEO WHERE VIDEO_ID = #{id}
    </delete>
</mapper>